---
title: Blank Page
description: Blank starter page (Free)
permalink: /pages-blank.html
---
<div class="container-fluid p-0">
	<h1 class="h3 mb-3">Blank Page</h1>
	<div class="row">
		<div class="col-12">
			<div class="card">
				<div class="card-header">
					<h5 class="card-title mb-0">Empty card</h5>
				</div>
				<div class="card-body">
					<p class="text-muted mb-0">SPIKE: layout shell works. Content from Free 3.5.0 blank page.</p>
				</div>
			</div>
		</div>
	</div>
</div>
