<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="{{ description | default(site.description) }}">
	<meta name="author" content="AdminKit">
	<meta name="keywords" content="adminkit, bootstrap, bootstrap 5, admin, dashboard, template, vite, eleventy">

	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link rel="shortcut icon" href="/img/icons/icon-48x48.png" />

	<title>{% if title %}{{ title }} | {% endif %}{{ site.title }} ({{ edition.edition }})</title>

	<link href="{{ site.cssPath }}" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap" rel="stylesheet">
</head>
<body>
	<div class="wrapper">
		{% include "sidebar.njk" %}

		<div class="main">
			{% include "navbar.njk" %}

			<main class="content">
				{{ content | safe }}
			</main>

			{% include "footer.njk" %}
		</div>
	</div>

	<script type="module" src="{{ site.jsPath }}"></script>
	{% if pageScripts %}
	<script type="module">
	{{ pageScripts | safe }}
	</script>
	{% endif %}
</body>
</html>
